{% extends "base_page.html" %}

{% block page-title %}
{{ name }}
{% endblock %}

{% block page-lead %}
{{ description }}<br>
<a href="/courses" class="btn btn-primary">Назад</a>
<a href="/courses/{{id}}/delete" class="btn btn-primary">Удалить</a>
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="terms-table">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col" class="py-3">#</th>
              <th scope="col" class="py-3">Слово</th>
              <th scope="col" class="py-3">Перевод</th>
            </tr>
          </thead>
          <tbody>
            {% for id, word, translation in terms %}
            <tr>
                <td class="py-3">{{ id }}</td>
                <td class="py-3">{{ word }}</td>
                <td class="py-3">{{ translation }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
</div>
{% endblock %}
