{% extends "base_page.html" %}

{% block page-title %}
<div style="margin: auto; text-align: center;">
ENGлишский
</div>
{% endblock %}

{% block page-lead %}
<div style="margin: auto; text-align: center;">
    Это страничка проекта про изучение английского языка.
</div>
{% endblock %}

{% block content %}
<div style="margin: auto; text-align: center;">
    <a href="/quiz" class="btn btn-primary">
        <h3 class="fs-2">Проверь себя</h3>
    </a>
    <p>Как хорошо ты знаешь английский?</p>
</div>
<div class="container px-4 py-5" id="project-contents">
    <h2 class="pb-2 border-bottom">Чем здесь заняться?</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col-lg-4">
            <h4 class="py-1">Выучить слова</h4>
        </div>
        <div class="col-lg-8">
            <p> Посмотреть список доступных курсов, где можно перейти на конкретный интересующий курс
                и поучить в нем слова.</p>
            <p><span class="fst-italic">Доступно в меню наверху</span></p>
        </div>
    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col-lg-4">
            <h4 class="py-1">Добавить слова в базу данных</h4>
        </div>
        <div class="col-lg-8">
            <p>Можно добавлять наборы слов, объединенных одной темой, так назваемые
                <span class="fst-italic">курсы</span>. Изменять их нельзя, можно только удалить и написать заново.
            </p>
            <p><span class="fst-italic">Реализовано через БД</span></p>
        </div>
    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col-lg-4">
            <h4 class="py-1">Пройти тест на знание слов</h4>
        </div>
        <div class="col-lg-8">
            <p>
                Напишите правильный перевод 5 случайно выбранных из всех курсов слов.
            </p>
        </div>
    </div>
</div>
{% endblock %}
