{% extends "base_page.html" %}

{% block page-title %}
Список курсов
{% endblock %}

{% block page-lead %}
Вот что нашлось по вашему запросу:<br>
<p><a href="/" class="btn btn-primary">Назад</a></p>
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="terms-table">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col" class="py-3">#</th>
              <th scope="col" class="py-3">Название курса</th>
              <th scope="col" class="py-3">Количество терминов</th>
            </tr>
          </thead>
          <tbody>
            {% for num, id, name, terms_num in courses %}
            <tr>

                <td class="py-3">{{ num }}</td>
                <td class="py-3"><a href="/courses/{{id}}">{{ name }}</a></td>
                <td class="py-3">{{ terms_num }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
</div>
{% endblock %}
